<div class="observer_1_observer">
	<span> {{t 'BCi_obs_text_1'}} </span></br>
	<img style="position:relative; height:30px; top:15px;" src="images/observer.jpg"></br>
	<span> {{t 'BCi_obs_text_2'}} </span>
</div>

<div class="observer_2_rapport" pos="0">
	<span><a id="observer" class="bilan_circonstanciel_1" href="" > {{t 'BCi_rapport_text_1'}} </a></span>
</div>
	<div class="observer_2_rapport_1">
		<span> {{t 'BCi_rapport_1_text_1'}} </span>
		<span> {{t 'BCi_rapport_1_text_2'}} </span>				  				
	</div>
	
<div class="observer_3_danger" pos="0">
	<span><a class="bilan_circonstanciel_2" href="" > {{t 'BCi_danger_text_1'}} </a></span>
</div>
	<div class="observer_3_danger_1_2">
		<div class="observer_3_danger_1">
			<span> {{t 'BCi_danger_1_text_1'}} </span>
		</div>
		
		<div class="observer_3_danger_2">
			<span><a href="/danger"> {{t 'BCi_danger_2_text_1'}} </a></span>
		</div>
	</div>
<div class="observer_4_information" pos="0">
	<span><a id="information" class="bilan_circonstanciel_3" href="" > {{t 'BCi_information_text_1'}} </a></span>
</div>
	<div class="observer_4_information_1">
		<span> {{t 'BCi_information_1_text_1'}} </span>
	</div>
	
<div class="observer_5_secours" pos="0">	
	<span><a id="secours" class="bilan_circonstanciel_4" href="" > {{t 'BCi_secours_text_1'}} </a></span>
</div>
	<div class="observer_5_secours_1">
		<span> {{t 'BCi_secours_1_text_1'}} </span>				  				
	</div>